<div class="container-fluid mb-5">
	<div class="row justify-content-center" >
		<div class="col-11 p-lg-5 px-2 py-5 rounded-3 shadow d-flex align-items-center justify-content-center" style="background-color: rgba(252, 243, 230,1); z-index: 1;">
			<div class="container-fluid p-lg-5 px-3 py-5">
                <div class="row g-3 p-lg-5 p-2 mb-5 rounded-3 shadow" style="background-color: rgba(237, 237, 243, 1);">
                    <div class="col-12 d-flex justify-content-center">
						<h1 class="mb-4 py-2 px-5 rounded-3" id="responsive-font-4" style="background-color:rgba(131, 215, 218, .5); box-shadow: 5px 5px 2px 1px rgba(43, 43, 48, .5); font-size: 3vmax; font-family: 'Source Code Pro', monospace; font-weight: 300;">Personal Website</h1>
					</div>
					<div class="col-12 d-flex justify-content-center">
                        <div class="p-3 rounded-3 h-100" style="background-color: rgba(65, 105, 225, 0.1);">
						    <p id="responsiveBodyText" class="text-center px-3">
                                It's difficult to express understanding or passion through a few lines on a resume.
                                I've built this website to provide a more tangible representation of what I can create.
                                Its design focuses on communication between an Angular frontend and Spring Boot backend.
						    </p>
                        </div>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
