<div class="container-fluid mb-5">
    <div class="row justify-content-center">
        <div class="col-11 p-lg-5 px-2 py-5 rounded-3 shadow" style="background-color: rgba(252, 243, 230, 1); z-index: 1;">
            <div class="container-fluid rounded-3 shadow p-lg-5 px-3 py-5" style="background-color: rgb(237, 237, 243)">
                <div class="row py-5">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <h1 class="p-5 text-center rounded-3" style="background-color: rgb(175, 226, 226); box-shadow: 5px 5px 2px 1px rgba(43, 43, 48, .5); font-size: 3vmax; font-family: 'Source Code Pro', monospace; font-weight: 300;">Recent Projects</h1>
                    </div>
                </div>
                <div class="row gy-5">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="container-fluid rounded-3 h-100 shadow" style="overflow: hidden; background-color:rgb(221, 202, 208);"> 
                            <div class="row">
                                <div class="col-12 m-0 p-0">
                                    <a href="#storefront" >
                                        <img src="../../assets/shop-2607121.jpg" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-12 d-flex flex-column align-items-center">
                                    <h1 class="text-center rounded-pill px-4 py-2 my-2" style="font-size: 2.5vmax; color:rgb(43, 43, 48); background-color:rgb(233, 223, 197); font-family: 'Source Code Pro', monospace; font-weight: 300; box-shadow: 5px 5px 2px 1px rgba(43, 43, 48, .5); width: min-content;">Storefront</h1>
                                    <p id="responsiveBodyText" class="text-center" style="color:rgb(43, 43, 48);">
                                        A dynamic, fully persisted storefront powered by a complex Spring Boot database system and layered Angular components and services
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12"> 
                        <div class="container-fluid rounded-3 h-100 shadow" style="overflow: hidden; background-color:rgb(221, 202, 208);"> 
                            <div class="row">
                                <div class="col-12 m-0 p-0">
                                    <a class="" href="#register" >
                                        <img src="../../assets/attack-6806140.png" class="h-100 w-100" >
                                    </a>
                                </div>
                            </div>
                            <div class="row" > 
                                <div class="col-12 d-flex flex-column align-items-center">
                                    <h1 class="text-center rounded-pill px-4 py-2 my-2" style="font-size: 2.5vmax; color:rgb(43, 43, 48); background-color:rgb(233, 223, 197); font-family: 'Source Code Pro', monospace; font-weight: 300; box-shadow: 5px 5px 2px 1px rgba(43, 43, 48, .5); width: min-content;">Security</h1>
                                    <p id="responsiveBodyText" class="text-center" style="color:rgb(43, 43, 48);">
                                        A complete Spring Boot Security implementation which uses Spring Boot JPA to persist, retrieve, and authenticate encrypted user accounts
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12"> 
                        <div class="container-fluid rounded-3 h-100 shadow" style="overflow: hidden; background-color:rgb(221, 202, 208);"> 
                            <div class="row">
                                <div class="col-12 m-0 p-0">
                                    <a class="" href="#encryption" >
                                        <img src="../../assets/computer-6560745.jpg" class="h-100 w-100" >
                                    </a>
                                </div>
                            </div>
                            <div class="row" > 
                                <div class="col-12 d-flex flex-column align-items-center">
                                    <h1 class="text-center rounded-pill px-4 py-2 my-2" style="font-size: 2.5vmax; color:rgb(43, 43, 48); background-color:rgb(233, 223, 197); font-family: 'Source Code Pro', monospace; font-weight: 300; box-shadow: 5px 5px 2px 1px rgba(43, 43, 48, .5); width: min-content;">Encryption</h1>
                                    <p id="responsiveBodyText" class="text-center" style="color:rgb(43, 43, 48);">
                                        An encryption scheme, a complex padding scheme meant to patch a known vulnerabilty, and a hashing algorithm
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12"> 
                        <div class="container-fluid rounded-3 h-100 shadow" style="overflow: hidden; background-color:rgb(221, 202, 208);"> 
                            <div class="row">
                                <div class="col-12 m-0 p-0">
                                    <!--<a class="" href="#welcome" >-->
                                        <img src="../../assets/web-design-3411373.jpg" class="h-100 w-100" >
                                    <!--</a>-->
                                </div>
                            </div>
                            <div class="row" > 
                                <div class="col-12 d-flex flex-column align-items-center">
                                    <h1 class="text-center rounded-pill px-4 py-2 my-2" style="font-size: 2.5vmax; color:rgb(43, 43, 48); background-color:rgb(233, 223, 197); font-family: 'Source Code Pro', monospace; font-weight: 300; box-shadow: 5px 5px 2px 1px rgba(43, 43, 48, .5); width: min-content;">Website</h1>
                                    <p id="responsiveBodyText" class="text-center" style="color:rgb(43, 43, 48);">
                                        Developed using Spring Boot and Angular. A live demonstration of my skills as a web developer
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 pb-2">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <i class="bi bi-arrow-down" style="font-size: 4vmax; color:rgb(43, 43, 48);"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>